
html:section {
    background-color: rgba(117, 35, 117, 0.158);
}

html {
    background-color:#222222 !important;
    color: gray; padding-left: 5px;
}

 #mainPane{
    color:  rgba(194, 236, 26, 0.925) !important;
    background-color: rgba(104, 36, 0, 0.33);
     padding: 3px; margin: 5px;
 }

 .innerPane { border: 2px solid rgba(220, 220, 220, 0.801);
  color:  rgba(235, 241, 210, 0.685) !important;
   background-color: rgba(104, 36, 0, 0.33);
    padding: 3px; margin: 5px;
  }

  .basePane {
    border: 1.1px solid rgba(220, 220, 220, 0.5);
    color: rgb(238, 238, 238) !important; /* background-color: rgb(34, 34, 34) !important; */
    padding: 3px; margin: 5px; 
    background-image: linear-gradient(120deg, rgb(21, 87, 153), rgb(21, 153, 87));
  }
  .stdDiv .innerPane {
    padding: 10px;
    padding-left: 20px;
    border: 1.1px solid rgba(220, 220, 220, 0.26); color: rgb(238, 238, 238) !important;
    background-color: rgba(34, 34, 34, 0.781); margin: 2px;
  }

  button{
    border: none; display: inline-block; padding:8px 16px;
    vertical-align: middle; overflow: hidden; text-decoration: none;
    color: inherit; background-color: inherit;
    text-align: center; cursor: pointer; white-space: nowrap;

      background-color: rgba(39, 180, 180, 0.582);
      background-image: linear-gradient(70deg, rgba(48, 75, 102, 0.486), rgba(47, 102, 95, 0.39)),
      linear-gradient(to bottom, rgba(167, 167, 106, 0.425), rgba(63, 94, 109, 0.5));
          /* url('https://mdn.mozillademos.org/files/7693/catfront.png');*/
      border-radius: 2px;
      border: rgba(7, 14, 9, 0.185) solid 1.2px;
      box-shadow: rgba(55, 63, 58, 0.295) 1px 3px 6px 1px;
      letter-spacing: .5px;
      padding: 6px 12px;
  
  }

  #stopButton, #runButton {
    margin-left: 7px;
    background-color: rgba(63, 52, 52, 0.418);
    color: rgba(186, 209, 171, 0.664);
    text-shadow: 0px 2px  5px rgba(0, 0, 0, 0.466);
}
  button:hover{
    box-shadow: inset rgba(1, 1, 1, 0.26) 1px 2px 6px 0px;
  }
/* was .w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;
    -khtml-user-select:none;-moz-user-select:none;
    -ms-user-select:none;user-select:none}   */
 
  .w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor: auto ;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,
.w3-btn:disabled:hover{box-shadow: none;}



  .editableArea{
    border: .2 dotted rgba(220, 220, 220, 0.104); color: rgba(238, 238, 238, 0.708) !important;
    background-color: rgba(24, 23, 23, 0.41); padding: 4.8px;
  }

  .editableArea span{
  color: rgba(131, 131, 72, 0.774) !important;
  }

  #mainPane .data-name {
    color: rgba(118, 138, 62, 0.801) !important;
    font-size: 89%;
    }
  
    #pgName{
     color: rgba(143, 173, 88, 0.849) ;
     text-shadow: 0px 5px 10px black;
     letter-spacing: .8px;
     font-size: 122%;
    }

    pane p {
        text-shadow: black 0px 5px 10px;
    }

    #resultWrapper{
      overflow: hidden;
      margin-top: 18px;
    }

    .resultDisplayArea {
        color:rgba(169, 216, 59, 0.699);
        border: .2 dotted rgba(220, 220, 220, 0.404); 
        background-color: rgba(24, 23, 23, 0.705); 
        
        margin: 8px;
        padding-top: 5px;
        min-height: 81px;
        height: 200px;
        font-family: monospace;
        font-stretch: wider;
        letter-spacing: .3px;
        width: 98%;
        min-width: 98%;
       /* resize: none; */
       overflow-y: scroll;
       font-size: 110%
        
        }

       /* .resultDisplayArea span{
            color:rgb(192, 27, 141);
            font-weight: bold;
            font-size: 125%;
            font-style: italic;
            } */

             /* 
            #resultHeader{
              display: flexbox;
            }
        .resultColHeader {
              display: inline;
            } */
            
            .colLeft{
              position: relative !important;
              left: 5% !important;
              display: inline-flex;
            }
            .colRight{
              position: relative !important;
              left: 38% !important;
              display: inline-flex;
            }

            #rightColHeader {
              left: 30.5% !important;
            }
      
      
      

          .resultDiv span{
            opacity: .5;
           
          }

        /*  #results * {
            margin: 2px  !important;
            margin-bottom: 5px  !important;
            padding: 2px  !important;
          } */
          hr{
            border-color: rgba(200,200,200,.2) !important;
          }
          #topHeader{
              font-size: 85%;
          }
          
          /* modal style adjustments */
           .modal button {
             background-color: rgba(143, 173, 88, 0.849);
             color: black; 
             opacity: 99%;
           }
           .modal-content {
            color: rgb(29, 6, 6);
            font-weight: 8;
            font-size: 150%;
        }
          


  /* MODAL FUNCTIONALITY - - - - - -  - - - - -  - - - - -  - - - - -  - - - - - - -  */
          /* The Modal (background) */
          /* The styles for the modal class makes it so that it creates 
          a semi-transparent dark background color behind the modal
           when it is active. We stretch it to 100% width and height and
            set its visibility to hidden so that it doesn't appear. */
          .modal {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
        }
 /* Then with the modal-content class, we position the actual
  modal in the center of the screen, with some visual goodies
   like a border-radius and some padding. */
        .modal-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: white;
          padding: 1rem 1.5rem;
          width: 24rem;
          border-radius: 0.5rem;
      }
/* To allow us to close the modal in an elegant way, we have a close button 
that is just a nicely styled X button at the top-right corner of the modal. */
      .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    .close-button:hover {
        background-color: darkgray;
    }
/* Finally, we have our class that handles styling the modal when it is opened.
All you need to do is give the modal the show-modal class to open it. Removing
 this class will reset it back to hidden. JavaScript will handle this toggling for us.*/
    .show-modal {
      opacity: 1;
      visibility: visible;
      transform: scale(1.0);
      transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
 /* END OF MODAL STYLING - - - - - -  - - - - -  - - - - -  - - - - -  - - - - - - -  */ 